*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins';
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}
.top-bar{
    height: 100px;
    border: 3px  solid black;
}
li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    color: ghostwhite;
    padding-left: 15px;
    padding-right: 10px;
}
.logo{
    width: 25%;
    height: 100%;
    padding-top: 20px;
}   

.menu{
    width: 50%;
    height: 100%;
    padding-top: 20px;
    
}
.login{
    width: 25%;
    display: inline-block;
    padding-top: 20px;
    padding-right: 10px;  
}
.enter{
    margin-left: 20px;
    border-radius: 15px;
    width: 90px;  
    height: 30px;
}
.testo{
    border: 5px solid black;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    height: 300px;
    width: 700px;
    text-align: center;
    line-height: 50px;
    color: ghostwhite;
    
    
}
.button-1 , .button-2{
    width: 200px;
    border-radius: 15px;
    height: 45px;
    font-size: 15px;  
}

.button-2{
    background-color: black;
    color: ghostwhite;
    width: 220px;
}
.study-group{
    width: 55%;
    height: 100%;
    padding-top: 400px;
}
.text-study{
width: 45%;
height: 100%;
padding: 190px;
}
